.tsiru-logo {
  width: 300px;
  height: 50px;
  background: url('Tsiru - Logo 2 Blanco.png') no-repeat;
  background-size: contain;
}

.opt-nav-size {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
