<!-- Hero -->
<div class="lg:ps-40 lg:pe-40 md:ps-24 md:pe-24 mx-auto bg-primary pe-4 ps-4 pt-4">
  <!-- Grid -->
  <div class="grid lg:grid-cols-7 lg:gap-x-8 xl:gap-x-12 lg:items-center">
    <div class="lg:col-span-3 ">
      <h1 class="block text-3xl text-white sm:text-4xl md:text-5xl lg:text-6xl font-bold">Donde el <span class="text-accent">producto</span> te encuentra.</h1>
      <p class="mt-3 text-lg text-white hero-text-size">En <span class="text-accent font-bold">Tsiru</span>, creemos que <span class="font-bold">
        encontrar</span> y <span class="font-bold">vender</span> productos debe ser <span class="font-bold">fácil, seguro</span>  y <span class="font-bold">accesible</span> para todos.
        Nuestra plataforma <span class="text-accent font-bold">conecta</span>  a vendedores y compradores en un espacio diseñado para satisfacer todas las necesidades, desde artículos
        cotidianos hasta productos especializados.</p>

      <div class="mt-5 lg:mt-8 items-center gap-2 sm:flex-row sm:gap-3 w-full">
          <div class="flex flex-col rounded-xl">
            <div class="p-4 text-center md:py-7 md:px-5 rounded-bl-2xl rounded-br-2xl rounded-tr-2xl bg-primary">
              <form (submit)="onSubmit($event)">
                <div class="p-1.5 flex flex-col sm:flex-row items-center gap-2 rounded-lg">
                  <div class="relative w-full">
                    <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3">
                      <svg class="shrink-0 size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
                    </div>
                    <input type="text" id="hero-input" name="hero-input" class="py-2 ps-9 pe-3 block w-full text-white
                     rounded-lg text-sm border-1 border-1 border-white bg-primary
                     disabled:opacity-50 disabled:pointer-events-none" [formControl]="email" (keyup.enter)="subscribe()" placeholder="Ingresa tu correo electrónico">
                  </div>
                  <a class="w-full sm:w-auto bg-accent whitespace-nowrap py-2
                  px-2.5 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-md
                  border border-primary bg-gray-800 text-white hover:bg-gray-900 focus:outline-none focus:bg-blue-700
                   disabled:opacity-50 disabled:pointer-events-none cursor-pointer" (click)="subscribe()">
                    Suscribirme
                    <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                  </a>
                </div>
                <p class="mt-2 text-xs text-white ps-12 pe-12">
                  ¡Suscríbete y mantente al día con las últimas <span class="font-bold">novedades</span>, <span class="font-bold">ofertas</span>
                  y <span class="font-bold">actualizaciones</span>  de <span class="text-accent font-bold">Tsiru</span>!
                </p>
              </form>
              <!-- End Input -->
            </div>
          </div>
      </div>
      <!-- End Brands -->
    </div>
    <!-- End Col -->

    <div class="lg:col-span-4 mt-10 lg:mt-0">
      <img class="w-full rounded-hero-img" src="/images/hand-hero.png" alt="Hero Image">
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Hero -->
