<div class="space-y-3 fixed bottom-5 right-5 z-50">
  @for(message of messagesQueue; track message){
    <!-- Toast -->
    <div class="max-w-xs bg-white border border-gray-200 rounded-xl shadow-lg" role="alert" tabindex="-1" aria-labelledby="hs-toast-stack-toggle-update-label">
      <div class="flex p-4">
        <div class="shrink-0">
        </div>
        <div class="ms-3">
          <p id="hs-toast-stack-toggle-update-label" class="text-sm text-gray-700">
            {{ message.message }}
          </p>
        </div>
      </div>
    </div>
    <!-- End Toast -->
  }
</div>
