
<svg viewBox="0 0 1430 320" fill="none" xmlns="http://www.w3.org/2000/svg" class="mb-[1rem]">
  <path transform="translate(0, 200)" d="M314 47.9257C108.5 -24.0743 52 8.92573 0 28.9257V126.926H719.5H1439V28.9257C1217.5 -55.5742 1250 185.426 925 47.9257C600 -89.5742 519.5 119.926 314 47.9257Z"
        fill="#DDDDDD"/>
</svg>

<div class="bg-complementary pb-28">
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto mt-[-1rem]" id="faq">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">Preguntas frecuentes</h2>
      <p class="mt-1 text-gray-600">Resolvemos tus dudas más frecuentes para que descubras todo lo que <span class="font-bold">Tsiru</span> tiene para ofrecerte.</p>
    </div>
    <!-- End Title -->

    <div class="max-w-7xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 md:gap-12 lg:gap-12">

        <div class="hs-accordion-group">

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Qué es Tsiru?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Tsiru conecta de forma directa a personas compradoras y vendedoras. En lugar de buscar productos, quienes compran envían solicitudes de compra y reciben ofertas de quienes venden, facilitando comparar y elegir la mejor opción.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Cómo funciona Tsiru para las  personas compradoras? 
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Las personas compradoras solo deben crear una solicitud detallada del producto o servicio que necesitan. Tsiru se encarga de notificar a las personas vendedoras, quienes enviarán sus ofertas para que elijas la mejor.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Cómo funciona Tsiru para las personas vendedoras? 
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Las personas vendedoras reciben solicitudes según las categorías seleccionadas. Pueden enviar ofertas personalizadas y exhibir su calidad y reconocimientos en su perfil para destacar y generar confianza.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Qué tipos de productos o servicios puedo encontrar en Tsiru?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Actualmente, Tsiru está enfocado en el mercado de repuestos para vehículos, ofreciendo una conexión eficiente entre personas compradoras y personas vendedoras especializadas. Sin embargo, estamos en constante crecimiento y, pronto, ampliaremos nuestra plataforma para abarcar otros mercados y necesidades.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Somos un método tradicional de compra y venta?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Usar Tsiru es mucho más que un método tradicional: es rápido, eficiente y elimina el tedioso proceso de búsqueda característico de las compras convencionales. En lugar de buscar, simplemente ingresas una solicitud y recibes ofertas de personas vendedoras para comparar en un solo lugar.
              </p>
            </div>
          </div>

          <!-- Add more questions here -->
        </div>

        <div class="hs-accordion-group">

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Cómo me ayuda Tsiru a destacar si soy persona vendedora?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Quienes ofrecen productos o servicios en Tsiru pueden mostrar en su perfil reconocimientos, calificaciones y comentarios de sus clientelas, además de acceder a datos de mercado que les ayudan a tomar decisiones estratégicas y crecer de manera sostenible.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Es seguro usar Tsiru?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Sí. En Tsiru priorizamos la seguridad de toda la comunidad. Aplicamos medidas de protección avanzadas y promovemos interacciones transparentes entre personas compradoras y vendedoras.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Cuál es el costo de utilizar Tsiru?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                El acceso a Tsiru y sus funcionalidades dependerá de nuestro modelo de negocio, el cual estamos diseñando para ofrecer el máximo valor a nuestra comunidad. Sin embargo, suscribirte para recibir noticias y actualizaciones sobre la plataforma es completamente gratuito.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Qué hago si no obtengo ofertas para mi solicitud?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Si no recibes ofertas inicialmente, no te preocupes. Conforme más personas vendedoras se unan, tus solicitudes llegarán a una red más amplia. También podés ajustar los detalles de tu publicación para atraer respuestas más específicas. Estamos trabajando continuamente para conectar de forma eficiente a quienes compran y venden.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Cómo me uno a la comunidad Tsiru?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Muy fácil: solo tenés que registrarte —ya sea como persona compradora o vendedora— y empezar a disfrutar de los beneficios de ser parte de nuestra comunidad.
              </p>
            </div>
          </div>

        </div>
      </div>
      <!-- End Accordion -->
    </div>
  </div>
</div>