
<svg viewBox="0 0 1430 320" fill="none" xmlns="http://www.w3.org/2000/svg" class="mb-[1rem]">
  <path transform="translate(0, 200)" d="M314 47.9257C108.5 -24.0743 52 8.92573 0 28.9257V126.926H719.5H1439V28.9257C1217.5 -55.5742 1250 185.426 925 47.9257C600 -89.5742 519.5 119.926 314 47.9257Z"
        fill="#DDDDDD"/>
</svg>

<div class="bg-complementary pb-28">
<!--  &lt;!&ndash; FAQ &ndash;&gt;-->
<!--  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 mx-auto mt-[-1rem]" id="faq">-->
<!--    &lt;!&ndash; Grid &ndash;&gt;-->
<!--    <div class="grid md:grid-cols-5 gap-10 text-white">-->
<!--      <div class="md:col-span-2">-->
<!--        <div class="max-w-xs">-->
<!--          <h2 class="text-2xl font-bold md:text-4xl md:leading-tight text-primary">Preguntas<br>frecuentes</h2>-->
<!--          <p class="mt-1 hidden md:block text-gray-600 text-primary">Resolvemos tus dudas más frecuentes para que descubras todo lo que-->
<!--            <span class="font-bold">Tsiru</span> tiene para ofrecerte.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End Col &ndash;&gt;-->

<!--      <div class="md:col-span-3 text-primary">-->
<!--        &lt;!&ndash; Accordion &ndash;&gt;-->
<!--        <div class="hs-accordion-group divide-y divide-gray-200">-->
<!--          <div class="hs-accordion pb-3 active" id="hs-basic-with-title-and-arrow-stretched-heading-one">-->
<!--            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="true" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one">-->
<!--              ¿Qué es Tsiru?-->
<!--              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>-->
<!--              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>-->
<!--            </button>-->
<!--            <div id="hs-basic-with-title-and-arrow-stretched-collapse-one" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one">-->
<!--              <p class="text-gray-600">-->
<!--                Tsiru es una plataforma que conecta directamente a compradores y vendedores. En lugar de buscar productos, los compradores ingresan solicitudes de compra y reciben ofertas de vendedores interesados, facilitando la comparación y elección de la mejor opción.-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-two">-->
<!--            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-two">-->
<!--              ¿Cómo funciona Tsiru para los compradores?-->
<!--              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>-->
<!--              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>-->
<!--            </button>-->
<!--            <div id="hs-basic-with-title-and-arrow-stretched-collapse-two" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-two">-->
<!--              <p class="text-gray-600">-->
<!--                Los compradores solo deben crear una solicitud detallada del producto o servicio que necesitan. Tsiru se encarga de notificar a los vendedores, quienes enviarán sus ofertas para que elijas la mejor.-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-three">-->
<!--            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-three">-->
<!--              ¿Cómo funciona Tsiru para los vendedores?-->
<!--              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>-->
<!--              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>-->
<!--            </button>-->
<!--            <div id="hs-basic-with-title-and-arrow-stretched-collapse-three" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-three">-->
<!--              <p class="text-gray-600">-->
<!--                Los vendedores reciben solicitudes según las categorías seleccionadas. Pueden enviar ofertas personalizadas y exhibir su calidad y reconocimientos en su perfil para destacar y generar confianza.              </p>-->
<!--            </div>-->
<!--          </div>-->


<!--          <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-five">-->
<!--            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-five">-->
<!--              ¿Qué tipos de productos o servicios puedo encontrar en Tsiru?-->
<!--              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>-->
<!--              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>-->
<!--            </button>-->
<!--            <div id="hs-basic-with-title-and-arrow-stretched-collapse-five" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-five">-->
<!--              <p class="text-gray-600">-->
<!--                Actualmente, Tsiru está enfocado en el mercado de repuestos para vehículos, ofreciendo una conexión eficiente entre compradores y vendedores especializados. Sin embargo, estamos en constante crecimiento y, pronto, ampliaremos nuestra plataforma para abarcar otros mercados y necesidades.-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-six">-->
<!--            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-six">-->
<!--              ¿Cómo me ayuda Tsiru a destacar como vendedor?-->
<!--              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>-->
<!--              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>-->
<!--            </button>-->
<!--            <div id="hs-basic-with-title-and-arrow-stretched-collapse-six" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-six">-->
<!--              <p class="text-gray-600">-->
<!--                Los vendedores pueden mostrar reconocimientos, calificaciones y comentarios de clientes en su perfil, además de acceder a datos de mercado que les permiten tomar decisiones estratégicas.              </p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-sixd">-->
<!--            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-six">-->
<!--              ¿Es seguro usar Tsiru?-->
<!--              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>-->
<!--              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>-->
<!--            </button>-->
<!--            <div id="hs-basic-with-title-and-arrow-stretched-collapse-sixd" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-six">-->
<!--              <p class="text-gray-600">-->
<!--                Sí, en Tsiru priorizamos la seguridad de nuestra comunidad. Utilizamos medidas de protección avanzadas y fomentamos interacciones transparentes entre compradores y vendedores.-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-sixd4">-->
<!--            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-six">-->
<!--              ¿Cuál es el costo de utilizar Tsiru?-->
<!--              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>-->
<!--              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>-->
<!--            </button>-->
<!--            <div id="hs-basic-with-title-and-arrow-stretched-collapse-sixd4" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-six">-->
<!--              <p class="text-gray-600">-->
<!--                El acceso a Tsiru y sus funcionalidades dependerá de nuestro modelo de negocio, el cual estamos diseñando para ofrecer el máximo valor a nuestra comunidad. Sin embargo, suscribirte para recibir noticias y actualizaciones sobre la plataforma es completamente gratuito.-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-sixd4-">-->
<!--            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-six">-->
<!--              ¿Qué hago si no obtengo ofertas para mi solicitud?-->
<!--              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>-->
<!--              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>-->
<!--            </button>-->
<!--            <div id="hs-basic-with-title-and-arrow-stretched-collapse-sixd4-" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-six">-->
<!--              <p class="text-gray-600">-->
<!--                Si no recibes ofertas inicialmente, no te preocupes. A medida que más vendedores se unan a nuestra comunidad, tus solicitudes llegarán a una red más amplia. También puedes ajustar los detalles de tu solicitud para atraer más respuestas específicas. Estamos trabajando continuamente para conectar a más compradores y vendedores de manera eficiente.-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-headingixd4-">-->
<!--            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-six">-->
<!--              ¿Cómo me uno a la comunidad Tsiru?-->
<!--              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>-->
<!--              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>-->
<!--            </button>-->
<!--            <div id="hs-basic-with-title-and-arrow-stretched-collapseixd4-" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-six">-->
<!--              <p class="text-gray-600">-->
<!--                Es muy fácil. Solo necesitas registrarte, ya sea como comprador o vendedor, y empezar a disfrutar de los beneficios de ser parte de nuestra comunidad.-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--        &lt;!&ndash; End Accordion &ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash; End Col &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; End Grid &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; End FAQ &ndash;&gt;-->

  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto mt-[-1rem]">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">Preguntas frecuentes</h2>
      <p class="mt-1 text-gray-600">Resolvemos tus dudas más frecuentes para que descubras todo lo que <span class="font-bold">Tsiru</span> tiene para ofrecerte.</p>
    </div>
    <!-- End Title -->

    <div class="max-w-7xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 md:gap-12 lg:gap-12">

        <div class="hs-accordion-group">

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Qué es Tsiru?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Tsiru es una plataforma que conecta directamente a compradores y vendedores. En lugar de buscar productos, los compradores ingresan solicitudes de compra y reciben ofertas de vendedores interesados, facilitando la comparación y elección de la mejor opción.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Cómo funciona Tsiru para los compradores?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Los compradores solo deben crear una solicitud detallada del producto o servicio que necesitan. Tsiru se encarga de notificar a los vendedores, quienes enviarán sus ofertas para que elijas la mejor.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Cómo funciona Tsiru para los vendedores?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Los vendedores reciben solicitudes según las categorías seleccionadas. Pueden enviar ofertas personalizadas y exhibir su calidad y reconocimientos en su perfil para destacar y generar confianza.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Qué tipos de productos o servicios puedo encontrar en Tsiru?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Actualmente, Tsiru está enfocado en el mercado de repuestos para vehículos, ofreciendo una conexión eficiente entre compradores y vendedores especializados. Sin embargo, estamos en constante crecimiento y, pronto, ampliaremos nuestra plataforma para abarcar otros mercados y necesidades.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Somos un método tradicional de compra y venta?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Usar Tsiru es mucho más que un método tradicional: es rápido, eficiente y elimina el tedioso proceso de búsqueda característico de las compras convencionales. En lugar de buscar, simplemente ingresas una solicitud y recibes ofertas de vendedores especializados para comparar en un solo lugar.
              </p>
            </div>
          </div>

          <!-- Add more questions here -->
        </div>

        <div class="hs-accordion-group">

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Cómo me ayuda Tsiru a destacar como vendedor?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Los vendedores pueden mostrar reconocimientos, calificaciones y comentarios de clientes en su perfil, además de acceder a datos de mercado que les permiten tomar decisiones estratégicas.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Es seguro usar Tsiru?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Sí, en Tsiru priorizamos la seguridad de nuestra comunidad. Utilizamos medidas de protección avanzadas y fomentamos interacciones transparentes entre compradores y vendedores.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Cuál es el costo de utilizar Tsiru?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                El acceso a Tsiru y sus funcionalidades dependerá de nuestro modelo de negocio, el cual estamos diseñando para ofrecer el máximo valor a nuestra comunidad. Sin embargo, suscribirte para recibir noticias y actualizaciones sobre la plataforma es completamente gratuito.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Qué hago si no obtengo ofertas para mi solicitud?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Si no recibes ofertas inicialmente, no te preocupes. A medida que más vendedores se unan a nuestra comunidad, tus solicitudes llegarán a una red más amplia. También puedes ajustar los detalles de tu solicitud para atraer más respuestas específicas. Estamos trabajando continuamente para conectar a más compradores y vendedores de manera eficiente.
              </p>
            </div>
          </div>

          <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-expanded="false">
              ¿Cómo me uno a la comunidad Tsiru?
              <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
              <p class="text-gray-800">
                Es muy fácil. Solo necesitas registrarte, ya sea como comprador o vendedor, y empezar a disfrutar de los beneficios de ser parte de nuestra comunidad.
              </p>
            </div>
          </div>

        </div>
      </div>
      <!-- End Accordion -->
    </div>
  </div>
</div>
