<!-- Features -->
<div class="overflow-hidden">
  <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto pt-12 md:pt-0 pb-20" id="benefits">
    <!-- Title -->
    <div class="mx-auto max-w-2xl mb-8 lg:mb-14 text-center">
      <h2 class="text-3xl lg:text-4xl text-gray-800 font-bold">
        Beneficios para todos.
      </h2>
    </div>
    <!-- End Title -->

    <div class="relative xl:w-10/12 xl:mx-auto">
      <!-- Grid -->
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8">
        <div>
          <!-- Card -->
          <div class="p-4 relative z-10 bg-primary border rounded-xl md:p-10 text-white">
            <h3 class="text-xl font-bold text-gray-800 text-accent">Compradores </h3>
            <div class="text-sm text-gray-500">Optimiza tus compras comparando opciones, recibiendo ofertas únicas y eligiendo con confianza.</div>

            <div class="mt-5">
              <span class="text-lg font-bold text-gray-800">Todo lo que necesitas para tus compras.	</span>
            </div>

            <div class="mt-5 grid gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
              <!-- List -->
              <ul class="space-y-2 text-sm sm:text-base flex flex-col gap-4">
                <li class="flex gap-x-3">
                  <img src="/logos/Tsiru - Cacao Blanco.png" alt="" class="h-8 w-8">
                  <span class="flex items-center">
                    <div>
                      Recibe múltiples<span class="text-accent font-bold"> ofertas personalizadas</span>.
                    </div>
                  </span>
                </li>

                <li class="flex gap-x-3 items-center">
                  <img src="/logos/Tsiru - Cacao Blanco.png" alt="" class="h-8 w-8">
                  <span class="flex items-center">
                    <div>
                       <span class="text-accent font-bold">Compara opciones</span> de manera sencilla.
                    </div>
                  </span>
                </li>

                <li class="flex gap-x-3">
                  <img src="/logos/Tsiru - Cacao Blanco.png" alt="" class="h-8 w-8">
                  <span class="flex items-center">
                    <div>
                       Elige las <span class="text-accent font-bold">mejores opciones</span> para tus compras.
                    </div>
                  </span>
                </li>
              </ul>
              <!-- End List -->
            </div>
          </div>
          <!-- End Card -->

        </div>

        <div>
          <!-- Card -->
          <div class="shadow-xl shadow-gray-200 p-5 relative z-10 border rounded-xl md:p-10 bg-primary text-white">
            <h3 class="text-xl font-bold text-gray-800 text-accent">Vendedores</h3>
            <div class="text-sm text-gray-500">Llega a más clientes, genera confianza y mejora tus ventas con menos esfuerzo.</div>

            <div class="mt-5">
              <span class="text-lg font-bold text-gray-800">Impulsa tu negocio y alcanza más clientes.</span>
            </div>

            <div class="mt-5 grid  gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
              <!-- List -->
              <ul class="space-y-2 text-sm sm:text-base flex flex-col gap-4">
                <li class="flex gap-x-3">
                  <img src="/logos/Tsiru - Cacao Blanco.png" alt="" class="h-8 w-8">
                  <span class="flex items-center">
                    <div>
                      Conexión directa con <span class="text-accent font-bold">compradores interesados.</span>
                    </div>
                  </span>
                </li>

                <li class="flex gap-x-3 items-center">
                  <img src="/logos/Tsiru - Cacao Blanco.png" alt="" class="h-8 w-8">
                  <span class="flex items-center">
                    <div>
                      Obtén datos claros para <span class="text-accent font-bold">decisiones estratégicas.</span>
                    </div>
                  </span>
                </li>

                <li class="flex gap-x-3">
                  <img src="/logos/Tsiru - Cacao Blanco.png" alt="" class="h-8 w-8">
                  <span class="flex items-center">
                    <div>
                      Destaca tu calidad y <span class="text-accent font-bold">genera confianza.</span>
                    </div>
                  </span>
                </li>
              </ul>
              <!-- End List -->



              <!-- End List -->
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
      <!-- End Grid -->

      <!-- SVG Element -->
      <div class="hidden md:block absolute top-0 end-0 translate-y-16 translate-x-16">
        <svg class="w-16 h-auto text-orange-500" width="121" height="135" viewBox="0 0 121 135" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
          <path d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
          <path d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
        </svg>
      </div>
      <!-- End SVG Element -->

      <!-- SVG Element -->
      <div class="hidden md:block absolute bottom-0 start-0 translate-y-16 -translate-x-16">
        <svg class="w-56 h-auto text-cyan-500" width="347" height="188" viewBox="0 0 347 188" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 82.4591C54.7956 92.8751 30.9771 162.782 68.2065 181.385C112.642 203.59 127.943 78.57 122.161 25.5053C120.504 2.2376 93.4028 -8.11128 89.7468 25.5053C85.8633 61.2125 130.186 199.678 180.982 146.248L214.898 107.02C224.322 95.4118 242.9 79.2851 258.6 107.02C274.299 134.754 299.315 125.589 309.861 117.539L343 93.4426" stroke="currentColor" stroke-width="7" stroke-linecap="round"/>
        </svg>
      </div>
      <!-- End SVG Element -->
    </div>

    <div class="mt-7 text-center">
      <p class="text-xs text-gray-400" id="subscribe">
        Únete a nuestra comunidad en <span class="text-accent font-bold">Tsiru</span> y disfruta de todas las ventajas.
      </p>
    </div>
  </div>
</div>
<!-- End Features -->
